{
  "plugins": [
    "unused-imports",
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "jsx-a11y"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:tailwindcss/recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@cspell/recommended",
    "plugin:perfectionist/recommended-line-length-legacy"
  ],
  "settings": {
    "tailwindcss": {
      "callees": [
        "twMerge",
        "createTheme"
      ],
      "classRegex": "^(class(Name)|theme)?$"
    },
    "@cspell/spellchecker": [{
      "dictionaries": [
        "custom"
      ],
      "dictionaryDefinitions": [
        {
          "name": "custom",
          "path": "custom-words.txt",
          "addWords": true
        }
      ]
    }]
  },
  "rules": {
    "prettier/prettier": "warn",
    "unused-imports/no-unused-imports": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/self-closing-comp": "warn",
    "no-undef": "off",
    "@typescript-eslint/no-require-imports": "off",
    "react/no-unescaped-entities": "off",
    "no-unused-vars": "off",
    "perfectionist/sort-imports": "off",
    "perfectionist/sort-named-imports": "off",
    "perfectionist/sort-exports": "off"
  }
}